@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./fonts/Roboto-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold"), url(./fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Lora-Regular";
  src: local("Lora-Regular"), url(./fonts/Lora-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Lora-Medium";
  src: local("Lora-Medium"), url(./fonts/Lora-Medium.ttf) format("truetype");
}

.Roboto {
  font-family: Roboto;
}

.Roboto-Bold {
  font-family: Roboto-Bold;
}

.Lora-Regular {
  font-family: Lora-Regular;
}

.Lora-Medium {
  font-family: Lora-Medium;
}

.bg1 {
  background-image: url("./backgrounds/background1.jpg");
  color: white;
}

.white-color {
  color: white;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
